{% extends 'layout.html.twig' %}
{% set title = 'Dane' %}

{% block content %}
    <div class="jumbotron">
        <h1>Bazy Danych&nbsp;2 <sup><small><span class="label label-success">Projekt</span></small></sup></h1>

        <p>
            Lorem ipsum dolor sit amet.
        </p>
        <p><a href="{{ url('import') }}" class="btn btn-primary btn-lg" role="button" data-toggle="tooltip" data-placement="right" title="za pomocą sqlloader'a">Zobacz import &raquo;</a></p>
    </div>

    <div class="page-header"><h1>Dane</h1></div>
    <h2><sup><small><span class="label label-primary">tabela</span></small></sup> Dane tabeli <strong>branza</strong></h2>
    {{ render(url('table', {'table': 'branza', 'page': 1})) }}
    <div class="well">Opis tych danych.</div>

    <h2><sup><small><span class="label label-primary">tabela</span></small></sup> Dane tabeli <strong>klient</strong></h2>
    {{ render(url('table', {'table': 'klient', 'page': 1})) }}
    <div class="well">Opis tych danych.</div>

    <h2><sup><small><span class="label label-primary">tabela</span></small></sup> Dane tabeli <strong>stanowisko</strong></h2>
    {{ render(url('table', {'table': 'stanowisko', 'page': 1})) }}
    <div class="well">Opis tych danych.</div>

    <h2><sup><small><span class="label label-primary">tabela</span></small></sup> Dane tabeli <strong>sprzedawca</strong></h2>
    {{ render(url('table', {'table': 'sprzedawca', 'page': 1})) }}
    <div class="well">Opis tych danych.</div>

    <h2><sup><small><span class="label label-primary">tabela</span></small></sup> Dane tabeli <strong>rok</strong></h2>
    {{ render(url('table', {'table': 'rok', 'page': 1})) }}
    <div class="well">Opis tych danych.</div>

    <h2><sup><small><span class="label label-primary">tabela</span></small></sup> Dane tabeli <strong>miesiac</strong></h2>
    {{ render(url('table', {'table': 'miesiac', 'page': 1})) }}
    <div class="well">Opis tych danych.</div>

    <h2><sup><small><span class="label label-primary">tabela</span></small></sup> Dane tabeli <strong>data_sprzedazy</strong></h2>
    {{ render(url('table', {'table': 'data_sprzedazy', 'page': 1})) }}
    <div class="well">Opis tych danych.</div>

    <h2><sup><small><span class="label label-primary">tabela</span></small></sup> Dane tabeli <strong>produkt_typ</strong></h2>
    {{ render(url('table', {'table': 'produkt_typ', 'page': 1})) }}
    <div class="well">Opis tych danych.</div>

    <h2><sup><small><span class="label label-primary">tabela</span></small></sup> Dane tabeli <strong>produkt</strong></h2>
    {{ render(url('table', {'table': 'produkt', 'page': 1})) }}
    <div class="well">Opis tych danych.</div>

    <h2><sup><small><span class="label label-primary">tabela</span></small></sup> Dane tabeli <strong>wojewodztwo</strong></h2>
    {{ render(url('table', {'table': 'wojewodztwo', 'page': 1})) }}
    <div class="well">Opis tych danych.</div>

    <h2><sup><small><span class="label label-primary">tabela</span></small></sup> Dane tabeli <strong>miasto</strong></h2>
    {{ render(url('table', {'table': 'miasto', 'page': 1})) }}
    <div class="well">Opis tych danych.</div>

    <h2><sup><small><span class="label label-primary">tabela</span></small></sup> Dane tabeli <strong>lokalizacja</strong></h2>
    {{ render(url('table', {'table': 'lokalizacja', 'page': 1})) }}
    <div class="well">Opis tych danych.</div>

    <h2><sup><small><span class="label label-primary">tabela</span></small></sup> Dane tabeli <strong>sprzedaz</strong></h2>
    {{ render(url('table', {'table': 'sprzedaz', 'page': 1})) }}
    <div class="well">Opis tych danych.</div>
{% endblock %}
