{% extends 'layout.html.twig' %}
{% set title = 'Dane' %}

{% block content %}
    <div class="jumbotron">
        <h1>Dane hurtowni <sup><small><span class="label label-default">Projekt</span></small></sup></h1>

        <p>
            Dane zostały przygotowane w formie plików <strong>CSV</strong>.<br>
            Źródłem danych były skrypty <strong>PHP</strong> bezpośrednio generujące dane oraz parsujące interetowe katalogi.
        </p>
        <p><a href="{{ url('import') }}" class="btn btn-primary btn-lg" role="button" data-toggle="tooltip" data-placement="right" title="za pomocą SQL*Loader&#39;a">Zobacz import &raquo;</a></p>
    </div>

    <div class="page-header"><h1><sup><small><span class="label label-primary">wymiar klient</span></small></sup> Dane tabeli <strong>branza</strong> <span class="badge">5 rekordów</span></h1></div>
    <pre class="line-numbers"><code class="language-sql">{{ tableBranzaCSV }}</code></pre>
    <div role="alert" class="alert alert-info">
        <span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span>
        <strong>Plik .csv</strong> - aby wyświetlić wszystkie dane <em><a href="{{ url('rawfile', {'file': 'branza.csv'}) }}" target="_blank">zobacz pełen plik .csv</a></em>.
    </div>
    {{ render(url('table', {'table': 'branza'})) }}

    <div class="page-header"><h1><sup><small><span class="label label-primary">wymiar klient</span></small></sup> Dane tabeli <strong>klient</strong> <span class="badge">100 rekordów</span></h1></div>
    <pre class="line-numbers"><code class="language-sql">{{ tableKlientCSV }}</code></pre>
    <div role="alert" class="alert alert-info">
        <span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span>
        <strong>Plik .csv</strong> - aby wyświetlić wszystkie dane <em><a href="{{ url('rawfile', {'file': 'klient.csv'}) }}" target="_blank">zobacz pełen plik .csv</a></em>.
    </div>
    {{ render(url('table', {'table': 'klient'})) }}

    <div class="page-header"><h1><sup><small><span class="label label-primary">wymiar sprzedawca</span></small></sup> Dane tabeli <strong>stanowisko</strong> <span class="badge">5 rekordów</span></h1></div>
    <pre class="line-numbers"><code class="language-sql">{{ tableStanowiskoCSV }}</code></pre>
    <div role="alert" class="alert alert-info">
        <span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span>
        <strong>Plik .csv</strong> - aby wyświetlić wszystkie dane <em><a href="{{ url('rawfile', {'file': 'stanowisko.csv'}) }}" target="_blank">zobacz pełen plik .csv</a></em>.
    </div>
    {{ render(url('table', {'table': 'stanowisko'})) }}

    <div class="page-header"><h1><sup><small><span class="label label-primary">wymiar sprzedawca</span></small></sup> Dane tabeli <strong>sprzedawca</strong> <span class="badge">50 rekordów</span></h1></div>
    <pre class="line-numbers"><code class="language-sql">{{ tableSprzedawcaCSV }}</code></pre>
    <div role="alert" class="alert alert-info">
        <span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span>
        <strong>Plik .csv</strong> - aby wyświetlić wszystkie dane <em><a href="{{ url('rawfile', {'file': 'sprzedawca.csv'}) }}" target="_blank">zobacz pełen plik .csv</a></em>.
    </div>
    {{ render(url('table', {'table': 'sprzedawca'})) }}

    <div class="page-header"><h1><sup><small><span class="label label-primary">wymiar data_sprzedazy</span></small></sup> Dane tabeli <strong>rok</strong> <span class="badge">5 rekordów</span></h1></div>
    <pre class="line-numbers"><code class="language-sql">{{ tableRokCSV }}</code></pre>
    <div role="alert" class="alert alert-info">
        <span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span>
        <strong>Plik .csv</strong> - aby wyświetlić wszystkie dane <em><a href="{{ url('rawfile', {'file': 'rok.csv'}) }}" target="_blank">zobacz pełen plik .csv</a></em>.
    </div>
    {{ render(url('table', {'table': 'rok'})) }}

    <div class="page-header"><h1><sup><small><span class="label label-primary">wymiar data_sprzedazy</span></small></sup> Dane tabeli <strong>miesiac</strong> <span class="badge">60 rekordów</span></h1></div>
    <pre class="line-numbers"><code class="language-sql">{{ tableMiesiacCSV }}</code></pre>
    <div role="alert" class="alert alert-info">
        <span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span>
        <strong>Plik .csv</strong> - aby wyświetlić wszystkie dane <em><a href="{{ url('rawfile', {'file': 'miesiac.csv'}) }}" target="_blank">zobacz pełen plik .csv</a></em>.
    </div>
    {{ render(url('table', {'table': 'miesiac'})) }}

    <div class="page-header"><h1><sup><small><span class="label label-primary">wymiar data_sprzedazy</span></small></sup> Dane tabeli <strong>data_sprzedazy</strong> <span class="badge">1826 rekordów</span></h1></div>
    <pre class="line-numbers"><code class="language-sql">{{ tableDataSprzedazyCSV }}</code></pre>
    <div role="alert" class="alert alert-info">
        <span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span>
        <strong>Plik .csv</strong> - aby wyświetlić wszystkie dane <em><a href="{{ url('rawfile', {'file': 'data_sprzedazy.csv'}) }}" target="_blank">zobacz pełen plik .csv</a></em>.
    </div>
    {{ render(url('table', {'table': 'data_sprzedazy'})) }}

    <div class="page-header"><h1><sup><small><span class="label label-primary">wymiar produkt</span></small></sup> Dane tabeli <strong>produkt_typ</strong> <span class="badge">24 rekordy</span></h1></div>
    <pre class="line-numbers"><code class="language-sql">{{ tableProduktTypCSV }}</code></pre>
    <div role="alert" class="alert alert-info">
        <span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span>
        <strong>Plik .csv</strong> - aby wyświetlić wszystkie dane <em><a href="{{ url('rawfile', {'file': 'produkt_typ.csv'}) }}" target="_blank">zobacz pełen plik .csv</a></em>.
    </div>
    {{ render(url('table', {'table': 'produkt_typ'})) }}

    <div class="page-header"><h1><sup><small><span class="label label-primary">wymiar produkt</span></small></sup> Dane tabeli <strong>produkt</strong> <span class="badge">1190 rekordów</span></h1></div>
    <pre class="line-numbers"><code class="language-sql">{{ tableProduktCSV }}</code></pre>
    <div role="alert" class="alert alert-info">
        <span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span>
        <strong>Plik .csv</strong> - aby wyświetlić wszystkie dane <em><a href="{{ url('rawfile', {'file': 'produkt.csv'}) }}" target="_blank">zobacz pełen plik .csv</a></em>.
    </div>
    {{ render(url('table', {'table': 'produkt'})) }}

    <div class="page-header"><h1><sup><small><span class="label label-primary">wymiar lokalizacja</span></small></sup> Dane tabeli <strong>wojewodztwo</strong> <span class="badge">16 rekordów</span></h1></div>
    <pre class="line-numbers"><code class="language-sql">{{ tableWojewodztwoCSV }}</code></pre>
    <div role="alert" class="alert alert-info">
        <span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span>
        <strong>Plik .csv</strong> - aby wyświetlić wszystkie dane <em><a href="{{ url('rawfile', {'file': 'wojewodztwo.csv'}) }}" target="_blank">zobacz pełen plik .csv</a></em>.
    </div>
    {{ render(url('table', {'table': 'wojewodztwo'})) }}

    <div class="page-header"><h1><sup><small><span class="label label-primary">wymiar lokalizacja</span></small></sup> Dane tabeli <strong>miasto</strong> <span class="badge">32 rekordy</span></h1></div>
    <pre class="line-numbers"><code class="language-sql">{{ tableMiastoCSV }}</code></pre>
    <div role="alert" class="alert alert-info">
        <span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span>
        <strong>Plik .csv</strong> - aby wyświetlić wszystkie dane <em><a href="{{ url('rawfile', {'file': 'miasto.csv'}) }}" target="_blank">zobacz pełen plik .csv</a></em>.
    </div>
    {{ render(url('table', {'table': 'miasto'})) }}

    <div class="page-header"><h1><sup><small><span class="label label-primary">wymiar lokalizacja</span></small></sup> Dane tabeli <strong>lokalizacja</strong> <span class="badge">64 rekordy</span></h1></div>
    <pre class="line-numbers"><code class="language-sql">{{ tableLokalizacjaCSV }}</code></pre>
    <div role="alert" class="alert alert-info">
        <span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span>
        <strong>Plik .csv</strong> - aby wyświetlić wszystkie dane <em><a href="{{ url('rawfile', {'file': 'lokalizacja.csv'}) }}" target="_blank">zobacz pełen plik .csv</a></em>.
    </div>
    {{ render(url('table', {'table': 'lokalizacja'})) }}

    <div class="page-header"><h1><sup><small><span class="label label-success">tabela faktów</span></small></sup> Dane tabeli <strong>sprzedaz</strong> <span class="badge">5000 rekordów</span></h1></div>
    <pre class="line-numbers"><code class="language-sql">{{ tableSprzedazCSV }}</code></pre>
    <div role="alert" class="alert alert-info">
        <span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span>
        <strong>Plik .csv</strong> - aby wyświetlić wszystkie dane <em><a href="{{ url('rawfile', {'file': 'sprzedaz.csv'}) }}" target="_blank">zobacz pełen plik .csv</a></em>.
    </div>
    {{ render(url('table', {'table': 'sprzedaz'})) }}
{% endblock %}
