{% extends 'layout.html.twig' %}
{% set title = 'Import' %}

{% block content %}
    <div class="jumbotron">
        <h1>Import danych hurtowni <sup><small><span class="label label-default">Projekt</span></small></sup></h1>

        <p>
            Dane zostały zaimportowane za pomocą <strong>SQL*Loader&#39;a</strong>.<br>
            Wszystkim plikom <strong>CSV</strong> utworzone zostały odpowiadające pliki <strong>CTL</strong>.<br>
            Automatyczny import został zrealizowany za pomocą pliku wsadowego <strong>BAT</strong>.
        </p>
        <p><a href="{{ url('analysis') }}" class="btn btn-primary btn-lg" role="button" data-toggle="tooltip" data-placement="right" title="za pomocą rozszerzeń sql">Zobacz analizę &raquo;</a></p>
    </div>

    <div class="page-header"><h1><sup><small><span class="label label-primary">.ctl</span></small></sup> Import danych do tabeli <strong>branza</strong></h1></div>
    <pre class="line-numbers"><code class="language-sql">{{ tableBranzaCTL }}</code></pre>
    <h2><sup><small><span class="label label-info">.log</span></small></sup> Log importu danych do tabeli <strong>branza</strong></h2>
    <pre class="line-numbers"><code class="language-sql">{{ tableBranzaLOG }}</code></pre>
    <div role="alert" class="alert alert-info">
        <span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span>
        <strong>Plik .log</strong> - aby wyświetlić wszystkie informacje <em><a href="{{ url('rawfile', {'file': 'branza.log'}) }}" target="_blank">zobacz pełen plik .log</a></em>.
    </div>

    <div class="page-header"><h1><sup><small><span class="label label-primary">.ctl</span></small></sup> Import danych do tabeli <strong>klient</strong></h1></div>
    <pre class="line-numbers"><code class="language-sql">{{ tableKlientCTL }}</code></pre>
    <h2><sup><small><span class="label label-info">.log</span></small></sup> Log importu danych do tabeli <strong>klient</strong></h2>
    <pre class="line-numbers"><code class="language-sql">{{ tableKlientLOG }}</code></pre>
    <div role="alert" class="alert alert-info">
        <span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span>
        <strong>Plik .log</strong> - aby wyświetlić wszystkie informacje <em><a href="{{ url('rawfile', {'file': 'klient.log'}) }}" target="_blank">zobacz pełen plik .log</a></em>.
    </div>

    <div class="page-header"><h1><sup><small><span class="label label-primary">.ctl</span></small></sup> Import danych do tabeli <strong>stanowisko</strong></h1></div>
    <pre class="line-numbers"><code class="language-sql">{{ tableStanowiskoCTL }}</code></pre>
    <h2><sup><small><span class="label label-info">.log</span></small></sup> Log importu danych do tabeli <strong>stanowisko</strong></h2>
    <pre class="line-numbers"><code class="language-sql">{{ tableStanowiskoLOG }}</code></pre>
    <div role="alert" class="alert alert-info">
        <span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span>
        <strong>Plik .log</strong> - aby wyświetlić wszystkie informacje <em><a href="{{ url('rawfile', {'file': 'stanowisko.log'}) }}" target="_blank">zobacz pełen plik .log</a></em>.
    </div>

    <div class="page-header"><h1><sup><small><span class="label label-primary">.ctl</span></small></sup> Import danych do tabeli <strong>sprzedawca</strong></h1></div>
    <pre class="line-numbers"><code class="language-sql">{{ tableSprzedawcaCTL }}</code></pre>
    <h2><sup><small><span class="label label-info">.log</span></small></sup> Log importu danych do tabeli <strong>sprzedawca</strong></h2>
    <pre class="line-numbers"><code class="language-sql">{{ tableSprzedawcaLOG }}</code></pre>
    <div role="alert" class="alert alert-info">
        <span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span>
        <strong>Plik .log</strong> - aby wyświetlić wszystkie informacje <em><a href="{{ url('rawfile', {'file': 'sprzedawca.log'}) }}" target="_blank">zobacz pełen plik .log</a></em>.
    </div>

    <div class="page-header"><h1><sup><small><span class="label label-primary">.ctl</span></small></sup> Import danych do tabeli <strong>rok</strong></h1></div>
    <pre class="line-numbers"><code class="language-sql">{{ tableRokCTL }}</code></pre>
    <h2><sup><small><span class="label label-info">.log</span></small></sup> Log importu danych do tabeli <strong>rok</strong></h2>
    <pre class="line-numbers"><code class="language-sql">{{ tableRokLOG }}</code></pre>
    <div role="alert" class="alert alert-info">
        <span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span>
        <strong>Plik .log</strong> - aby wyświetlić wszystkie informacje <em><a href="{{ url('rawfile', {'file': 'rok.log'}) }}" target="_blank">zobacz pełen plik .log</a></em>.
    </div>

    <div class="page-header"><h1><sup><small><span class="label label-primary">.ctl</span></small></sup> Import danych do tabeli <strong>miesiac</strong></h1></div>
    <pre class="line-numbers"><code class="language-sql">{{ tableMiesiacCTL }}</code></pre>
    <h2><sup><small><span class="label label-info">.log</span></small></sup> Log importu danych do tabeli <strong>miesiac</strong></h2>
    <pre class="line-numbers"><code class="language-sql">{{ tableMiesiacLOG }}</code></pre>
    <div role="alert" class="alert alert-info">
        <span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span>
        <strong>Plik .log</strong> - aby wyświetlić wszystkie informacje <em><a href="{{ url('rawfile', {'file': 'miesiac.log'}) }}" target="_blank">zobacz pełen plik .log</a></em>.
    </div>

    <div class="page-header"><h1><sup><small><span class="label label-primary">.ctl</span></small></sup> Import danych do tabeli <strong>data_sprzedazy</strong></h1></div>
    <pre class="line-numbers"><code class="language-sql">{{ tableDataSprzedazyCTL }}</code></pre>
    <h2><sup><small><span class="label label-info">.log</span></small></sup> Log importu danych do tabeli <strong>data_sprzedazy</strong></h2>
    <pre class="line-numbers"><code class="language-sql">{{ tableDataSprzedazyLOG }}</code></pre>
    <div role="alert" class="alert alert-info">
        <span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span>
        <strong>Plik .log</strong> - aby wyświetlić wszystkie informacje <em><a href="{{ url('rawfile', {'file': 'data_sprzedazy.log'}) }}" target="_blank">zobacz pełen plik .log</a></em>.
    </div>

    <div class="page-header"><h1><sup><small><span class="label label-primary">.ctl</span></small></sup> Import danych do tabeli <strong>produkt_typ</strong></h1></div>
    <pre class="line-numbers"><code class="language-sql">{{ tableProduktTypCTL }}</code></pre>
    <h2><sup><small><span class="label label-info">.log</span></small></sup> Log importu danych do tabeli <strong>produkt_typ</strong></h2>
    <pre class="line-numbers"><code class="language-sql">{{ tableProduktTypLOG }}</code></pre>
    <div role="alert" class="alert alert-info">
        <span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span>
        <strong>Plik .log</strong> - aby wyświetlić wszystkie informacje <em><a href="{{ url('rawfile', {'file': 'produkt_typ.log'}) }}" target="_blank">zobacz pełen plik .log</a></em>.
    </div>

    <div class="page-header"><h1><sup><small><span class="label label-primary">.ctl</span></small></sup> Import danych do tabeli <strong>produkt</strong></h1></div>
    <pre class="line-numbers"><code class="language-sql">{{ tableProduktCTL }}</code></pre>
    <h2><sup><small><span class="label label-info">.log</span></small></sup> Log importu danych do tabeli <strong>produkt</strong></h2>
    <pre class="line-numbers"><code class="language-sql">{{ tableProduktLOG }}</code></pre>
    <div role="alert" class="alert alert-info">
        <span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span>
        <strong>Plik .log</strong> - aby wyświetlić wszystkie informacje <em><a href="{{ url('rawfile', {'file': 'produkt.log'}) }}" target="_blank">zobacz pełen plik .log</a></em>.
    </div>

    <div class="page-header"><h1><sup><small><span class="label label-primary">.ctl</span></small></sup> Import danych do tabeli <strong>wojewodztwo</strong></h1></div>
    <pre class="line-numbers"><code class="language-sql">{{ tableWojewodztwoCTL }}</code></pre>
    <h2><sup><small><span class="label label-info">.log</span></small></sup> Log importu danych do tabeli <strong>wojewodztwo</strong></h2>
    <pre class="line-numbers"><code class="language-sql">{{ tableWojewodztwoLOG }}</code></pre>
    <div role="alert" class="alert alert-info">
        <span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span>
        <strong>Plik .log</strong> - aby wyświetlić wszystkie informacje <em><a href="{{ url('rawfile', {'file': 'wojewodztwo.log'}) }}" target="_blank">zobacz pełen plik .log</a></em>.
    </div>

    <div class="page-header"><h1><sup><small><span class="label label-primary">.ctl</span></small></sup> Import danych do tabeli <strong>miasto</strong></h1></div>
    <pre class="line-numbers"><code class="language-sql">{{ tableMiastoCTL }}</code></pre>
    <h2><sup><small><span class="label label-info">.log</span></small></sup> Log importu danych do tabeli <strong>miasto</strong></h2>
    <pre class="line-numbers"><code class="language-sql">{{ tableMiastoLOG }}</code></pre>
    <div role="alert" class="alert alert-info">
        <span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span>
        <strong>Plik .log</strong> - aby wyświetlić wszystkie informacje <em><a href="{{ url('rawfile', {'file': 'miasto.log'}) }}" target="_blank">zobacz pełen plik .log</a></em>.
    </div>

    <div class="page-header"><h1><sup><small><span class="label label-primary">.ctl</span></small></sup> Import danych do tabeli <strong>lokalizacja</strong></h1></div>
    <pre class="line-numbers"><code class="language-sql">{{ tableLokalizacjaCTL }}</code></pre>
    <h2><sup><small><span class="label label-info">.log</span></small></sup> Log importu danych do tabeli <strong>lokalizacja</strong></h2>
    <pre class="line-numbers"><code class="language-sql">{{ tableLokalizacjaLOG }}</code></pre>
    <div role="alert" class="alert alert-info">
        <span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span>
        <strong>Plik .log</strong> - aby wyświetlić wszystkie informacje <em><a href="{{ url('rawfile', {'file': 'lokalizacja.log'}) }}" target="_blank">zobacz pełen plik .log</a></em>.
    </div>

    <div class="page-header"><h1><sup><small><span class="label label-primary">.ctl</span></small></sup> Import danych do tabeli <strong>sprzedaz</strong></h1></div>
    <pre class="line-numbers"><code class="language-sql">{{ tableSprzedazCTL }}</code></pre>

    <h2><sup><small><span class="label label-info">.log</span></small></sup> Log importu danych do tabeli <strong>sprzedaz</strong></h2>
    <pre class="line-numbers"><code class="language-sql">{{ tableSprzedazLOG }}</code></pre>
    <div role="alert" class="alert alert-info">
        <span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span>
        <strong>Plik .log</strong> - aby wyświetlić wszystkie informacje <em><a href="{{ url('rawfile', {'file': 'sprzedaz.log'}) }}" target="_blank">zobacz pełen plik .log</a></em>.
    </div>

    <div class="page-header"><h1><sup><small><span class="label label-danger">.bat</span></small></sup> Plik wsadowy <strong>BAT</strong> automatyzujący import</h1></div>
    <pre class="line-numbers"><code class="language-sql">{{ importBAT }}</code></pre>
    <div class="well">Plik wsadowy pobiera od użytkownika login oraz hasło potrzebne do utworzenia połączenia z bazą danych. Następnie wszystkie tabele są wypełniane danymi. Dodatkowo plik zmienia stronę kodową na <b>UTF-8</b> (aby widoczne były polskie znaki) oraz używa kolorowania <b>ANSICON</b>.</div>
{% endblock %}
