{% extends 'layout.html.twig' %}
{% set title = 'Wprowadzenie' %}

{% block content %}
    <div class="jumbotron">
        <h1>Bazy Danych&nbsp;2 <sup><small><span class="label label-success">Projekt</span></small></sup></h1>

        <p>
            Tematem projektu jest <strong>hurtownia danych</strong> dla składu materiałów budowlanych.<br>
            Zakres projektu obejmuje stworzenie struktury hurtowni, przygotowanie danych oraz ich import i analizę.<br>
        </p>
        <p><a href="{{ url('structure') }}" class="btn btn-primary btn-lg" role="button" data-toggle="tooltip" data-placement="right" title="w schemacie gwiazdy">Zobacz strukturę &raquo;</a></p>
    </div>

    <div class="page-header"><h1>Tabela faktów <span class="badge">5000 rekordów</span></h1></div>
    <div role="alert" class="alert alert-info alert-dismissible fade in" data-alert-id="1">
        <button data-dismiss="alert" class="close" type="button">
            <span aria-hidden="true">×</span><span class="sr-only">Zamknij</span>
        </button>
        <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>
        <strong>Czytelność danych</strong> - aby lepiej zrozumieć przedstawione dane <em><a href="{{ url('structure') }}">zobacz strukturę hurtowni</a></em>.
    </div>

    <div class="row">
        <div class="col-md-12">
            <table class="table table-striped table-hover table-bordered">
                <thead>
                    <tr>
                        <th><abbr title="Identyfikator wiersza">id</abbr></th>
                        <th><abbr title="Wymiar - klient">klient_id</abbr></th>
                        <th><abbr title="Wymiar - sprzedawca">sprzedawca_id</abbr></th>
                        <th><abbr title="Wymiar - data sprzedaży">data_sprzedazy_id</abbr></th>
                        <th><abbr title="Wymiar - produkt">produkt_id</abbr></th>
                        <th><abbr title="Wymiar - lokalizacja">lokalizacja_id</abbr></th>
                        <th><abbr title="Miara - ilość">ilosc</abbr></th>
                        <th><abbr title="Miara - wartość">wartosc</abbr></th>
                        <th><abbr title="Miara - rabat">rabat</abbr></th>
                    </tr>
                </thead>
                <tbody>
                    {% for sprzedaz in data %}
                        <tr>
                            <td><b>{{ sprzedaz.ID }}</b></td>
                            <td>{{ sprzedaz.KLIENT_ID }}</td>
                            <td>{{ sprzedaz.SPRZEDAWCA_ID }}</td>
                            <td>{{ sprzedaz.DATA_SPRZEDAZY_ID }}</td>
                            <td>{{ sprzedaz.PRODUKT_ID }}</td>
                            <td>{{ sprzedaz.LOKALIZACJA_ID }}</td>
                            <td>{{ sprzedaz.ILOSC }}</td>
                            <td>{{ sprzedaz.WARTOSC }}</td>
                            <td>{{ sprzedaz.RABAT }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>

            {{ knp_pagination_render(pagination) }}
        </div>
    </div>
{% endblock %}
