{% extends 'layout.html.twig' %}
{% set title = 'Struktura' %}

{% block content %}
    <div class="jumbotron">
        <h1>Struktura hurtowni <sup><small><span class="label label-default">Projekt</span></small></sup></h1>

        <p>
            Struktura została stworzona zgodnie z konwencją <strong>schematu płatka śniegu</strong> (ang. <em>snowflake schema</em>).<br>
            Składa się z <strong>tabeli faktów</strong> oraz 5 znormalizowanych <strong>tabel wymiarów</strong>.
        </p>
        <p><a href="{{ url('data') }}" class="btn btn-primary btn-lg" role="button" data-toggle="tooltip" data-placement="right" title="w formacie csv">Zobacz dane &raquo;</a></p>
    </div>

    <div class="page-header"><h1><sup><small><span class="label label-default">oracle sql data modeler</span></small></sup> Diagram w notacji <strong>kruczej stopki</strong> (ang. <em>crow&#39;s foot</em>)</h1></div>
    <img src="{{ asset('img/schema.png', 'bd2') }}" class="img-responsive center-block img-diagram" alt="Diagram bazy danych">
    <div class="well">
        Diagram został wygenerowany w notacji bazującej na notacji <b>kruczej stopki</b> (ang. <i>crow's foot</i>)
        za pomocą programu Oracle SQL Data Modeler.<br><br>
        Struktura została stworzona zgodnie z konwencją <b>schematu płatka śniegu</b> (ang. <i>snowflake schema</i>). Składa się z <b>tabeli faktów</b> (sprzedaz) oraz 5 znormalizowanych <b>wymiarów</b> (produkt, sprzedawca, klient, data_sprzedazy, lokalizacja).<br><br>
        Wszystkie tabele (<i>encje</i>) spełniają wymogi pierwszej postaci normalnej (<b>1NF</b>), ponieważ każdy wiersz posiada klucz klucz główny (ang. <i>primary key</i> lub <i>PK</i>) identyfikujący jendoznacznie dane, które są atomowe i nie powielają się.<br><br>
        Wszystkie tabele spełniają również wymogi drugiej postaci normalnej (<b>2NF</b>), ponieważ dane nie zależące funkcyjnie od klucza głównego zostały przeniesione do osobnych encji i powiązane za pomocą kluczy obcych (ang. <i>foregin key</i> lub <i>FK</i>).<br><br>
        Wszystkie tabele spełniają również wymogi trzeciej postaci normalnej (<b>3NF</b>), ponieważ nie istnieją atrybuty wtórne nie zależące od klucza głównego (np. brak kolumny z wartością sprzedaży bez odliczonego rabatu).
    </div>

    <div class="page-header"><h1><sup><small><span class="label label-default">oracle sql developer</span></small></sup> SQL DDL struktury hurtowni</h1></div>
    <h2><sup><small><span class="label label-danger">procedura</span></small></sup> Przygotowanie hurtowni za pomocą procedury <strong>DROP_ALL</strong></h2>
    <pre class="line-numbers"><code class="language-sql">{{ procedureDropAllSQL }}</code></pre>
    <div class="well">
        Procedura <b>DROP_ALL</b> pobiera z predefiniowanej tabeli <b>user_object</b> wszystkie utworzone tabele do kursora, które następnie za pomocą pętli są kolejno usuwane. Wykonywanie <b>DDL</b> wewnątrz procedury wymaga użycia <b>EXECUTE IMMEDIATE</b>. Na końcu procedura jest usuwana. Powodem użycia tej procedury jest możliwość jej poprawnego wykonania w przypadku gdy tabele nie istnieją.
    </div>

    <h2><sup><small><span class="label label-primary">wymiar klient</span></small></sup> Struktura tabeli <strong>branza</strong></h2>
    <pre class="line-numbers"><code class="language-sql">{{ tableBranzaSQL }}</code></pre>

    <h2><sup><small><span class="label label-primary">wymiar klient</span></small></sup> Struktura tabeli <strong>klient</strong></h2>
    <pre class="line-numbers"><code class="language-sql">{{ tableKlientSQL }}</code></pre>

    <h2><sup><small><span class="label label-primary">wymiar sprzedawca</span></small></sup> Struktura tabeli <strong>stanowisko</strong></h2>
    <pre class="line-numbers"><code class="language-sql">{{ tableStanowiskoSQL }}</code></pre>

    <h2><sup><small><span class="label label-primary">wymiar sprzedawca</span></small></sup> Struktura tabeli <strong>sprzedawca</strong></h2>
    <pre class="line-numbers"><code class="language-sql">{{ tableSprzedawcaSQL }}</code></pre>

    <h2><sup><small><span class="label label-primary">wymiar data_sprzedazy</span></small></sup> Struktura tabeli <strong>rok</strong></h2>
    <pre class="line-numbers"><code class="language-sql">{{ tableRokSQL }}</code></pre>

    <h2><sup><small><span class="label label-primary">wymiar data_sprzedazy</span></small></sup> Struktura tabeli <strong>miesiac</strong></h2>
    <pre class="line-numbers"><code class="language-sql">{{ tableMiesiacSQL }}</code></pre>

    <h2><sup><small><span class="label label-primary">wymiar data_sprzedazy</span></small></sup> Struktura tabeli <strong>data_sprzedazy</strong></h2>
    <pre class="line-numbers"><code class="language-sql">{{ tableDataSprzedazySQL }}</code></pre>

    <h2><sup><small><span class="label label-primary">wymiar produkt</span></small></sup> Struktura tabeli <strong>produkt_typ</strong></h2>
    <pre class="line-numbers"><code class="language-sql">{{ tableProduktTypSQL }}</code></pre>

    <h2><sup><small><span class="label label-primary">wymiar produkt</span></small></sup> Struktura tabeli <strong>produkt</strong></h2>
    <pre class="line-numbers"><code class="language-sql">{{ tableProduktSQL }}</code></pre>

    <h2><sup><small><span class="label label-primary">wymiar lokalizacja</span></small></sup> Struktura tabeli <strong>wojewodztwo</strong></h2>
    <pre class="line-numbers"><code class="language-sql">{{ tableWojewodztwoSQL }}</code></pre>

    <h2><sup><small><span class="label label-primary">wymiar lokalizacja</span></small></sup> Struktura tabeli <strong>miasto</strong></h2>
    <pre class="line-numbers"><code class="language-sql">{{ tableMiastoSQL }}</code></pre>

    <h2><sup><small><span class="label label-primary">wymiar lokalizacja</span></small></sup> Struktura tabeli <strong>lokalizacja</strong></h2>
    <pre class="line-numbers"><code class="language-sql">{{ tableLokalizacjaSQL }}</code></pre>

    <h2><sup><small><span class="label label-success">tabela faktów</span></small></sup> Struktura tabeli <strong>sprzedaz</strong></h2>
    <pre class="line-numbers"><code class="language-sql">{{ tableSprzedazSQL }}</code></pre>

    <h2>Krótki opis struktury tabel</h2>
    <div class="well">
        Wszystkie zdefiniowane tabele posiadają jawnie zdefiniowane <i>klucze główne</i> oraz <i>klucze obce</i> (jeżeli te są potrzebne). Wszystkie zdefiniowane kolumny nie mogą być puste (<b>NOT NULL</b>).
        Wartości liczbowe są zdefiniowane jako <b>INTEGER</b>, tekstowe jako <b>VARCHAR2</b>, a logiczne jako <b>NUMER(1)</b> (gdzie 0 oznacza fałsz, a 1 prawdę).
    </div>
{% endblock %}
