{% extends 'table-layout.html.twig' %}

{% block tableFiltration %}
    {{ knp_pagination_filter(pagination, {
        'ID': 'id',
        'MIASTO_ID': 'miasto_id',
        'ULICA': 'ulica',
        'KOD_POCZTOWY': 'kod_pocztowy'
    }, {'button': 'Szukaj'}) }}
{% endblock %}

{% block tableHeader %}
    <th><abbr title="INTEGER">{{ knp_pagination_sortable(pagination, 'id', 'ID', [], direction) }}</abbr></th>
    <th><abbr title="INTEGER">{{ knp_pagination_sortable(pagination, 'miasto_id', 'MIASTO_ID') }}</abbr></th>
    <th><abbr title="VARCHAR2(200)">{{ knp_pagination_sortable(pagination, 'ulica', 'ULICA') }}</abbr></th>
    <th><abbr title="VARCHAR2(200)">{{ knp_pagination_sortable(pagination, 'kod_pocztowy', 'KOD_POCZTOWY') }}</abbr></th>
{% endblock %}

{% block tableContent %}
    <td><b>{{ item.ID }}</b></td>
    <td>{{ item.MIASTO_ID }}</td>
    <td>{{ item.ULICA }}</td>
    <td>{{ item.KOD_POCZTOWY }}</td>
{% endblock %}
