{% extends 'table-layout.html.twig' %}

{% block tableHeader %}
    <th><abbr title="INTEGER">{{ knp_pagination_sortable(pagination, 'id', 'ID', [], direction) }}</abbr></th>
    <th><abbr title="INTEGER">{{ knp_pagination_sortable(pagination, 'produkt_typ_id', 'PRODUKT_TYP_ID') }}</abbr></th>
    <th><abbr title="VARCHAR2(200)">{{ knp_pagination_sortable(pagination, 'nazwa', 'NAZWA') }}</abbr></th>
{% endblock %}

{% block tableContent %}
    <td><b>{{ item.ID }}</b></td>
    <td>{{ item.PRODUKT_TYP_ID }}</td>
    <td>{{ item.NAZWA }}</td>
{% endblock %}
