{% extends 'table-layout.html.twig' %}

{% block tableFiltration %}
    {{ knp_pagination_filter(pagination, {
        'ID': 'id',
        'KLIENT_ID': 'klient_id',
        'SPRZEDAWCA_ID': 'sprzedawca_id',
        'DATA_SPRZEDAZY_ID': 'data_sprzedazy_id',
        'PRODUKT_ID': 'produkt_id',
        'LOKALIZACJA_ID': 'lokalizacja_id',
        'ILOSC': 'ilosc',
        'WARTOSC': 'wartosc',
        'RABAT': 'rabat'
    }, {'button': 'Szukaj'}) }}
{% endblock %}

{% block tableHeader %}
    <th><abbr title="Identyfikator rekordu">{{ knp_pagination_sortable(pagination, 'id', 'ID', [], direction) }}</abbr></th>
    <th><abbr title="Wymiar - klient">{{ knp_pagination_sortable(pagination, 'klient_id', 'KLIENT_ID') }}</abbr></th>
    <th><abbr title="Wymiar - sprzedawca">{{ knp_pagination_sortable(pagination, 'sprzedawca_id', 'SPRZEDAWCA_ID') }}</abbr></th>
    <th><abbr title="Wymiar - data sprzedaży">{{ knp_pagination_sortable(pagination, 'data_sprzedazy_id', 'DATA_SPRZEDAZY_ID') }}</abbr></th>
    <th><abbr title="Wymiar - produkt">{{ knp_pagination_sortable(pagination, 'produkt_id', 'PRODUKT_ID') }}</abbr></th>
    <th><abbr title="Wymiar - lokalizacja">{{ knp_pagination_sortable(pagination, 'lokalizacja_id', 'LOKALIZACJA_ID') }}</abbr></th>
    <th><abbr title="Miara - ilość">{{ knp_pagination_sortable(pagination, 'ilosc', 'ILOSC') }}</abbr></th>
    <th><abbr title="Miara - wartość">{{ knp_pagination_sortable(pagination, 'wartosc', 'WARTOSC') }}</abbr></th>
    <th><abbr title="Miara - rabat">{{ knp_pagination_sortable(pagination, 'rabat', 'RABAT') }}</abbr></th>
{% endblock %}

{% block tableContent %}
    <td><b>{{ item.ID }}</b></td>
    <td>{{ item.KLIENT_ID }}</td>
    <td>{{ item.SPRZEDAWCA_ID }}</td>
    <td>{{ item.DATA_SPRZEDAZY_ID }}</td>
    <td>{{ item.PRODUKT_ID }}</td>
    <td>{{ item.LOKALIZACJA_ID }}</td>
    <td>{{ item.ILOSC }}</td>
    <td>{{ item.WARTOSC }}</td>
    <td>{{ item.RABAT }}</td>
{% endblock %}
