{% extends 'table-layout.html.twig' %}

{% block tableHeader %}
    <th><abbr title="Identyfikator wiersza">id</abbr></th>
    <th><abbr title="Wymiar - klient">klient_id</abbr></th>
    <th><abbr title="Wymiar - sprzedawca">sprzedawca_id</abbr></th>
    <th><abbr title="Wymiar - data sprzedaży">data_sprzedazy_id</abbr></th>
    <th><abbr title="Wymiar - produkt">produkt_id</abbr></th>
    <th><abbr title="Wymiar - lokalizacja">lokalizacja_id</abbr></th>
    <th><abbr title="Miara - ilość">ilosc</abbr></th>
    <th><abbr title="Miara - wartość">wartosc</abbr></th>
    <th><abbr title="Miara - rabat">rabat</abbr></th>
{% endblock %}

{% block tableContent %}
    <td><b>{{ item.ID }}</b></td>
    <td>{{ item.KLIENT_ID }}</td>
    <td>{{ item.SPRZEDAWCA_ID }}</td>
    <td>{{ item.DATA_SPRZEDAZY_ID }}</td>
    <td>{{ item.PRODUKT_ID }}</td>
    <td>{{ item.LOKALIZACJA_ID }}</td>
    <td>{{ item.ILOSC }}</td>
    <td>{{ item.WARTOSC }}</td>
    <td>{{ item.RABAT }}</td>
{% endblock %}
